<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>GenSenRounded-B.ttc</string>
		<string>GenSenRounded-EL.ttc</string>
		<string>GenSenRounded-H.ttc</string>
		<string>GenSenRounded-L.ttc</string>
		<string>GenSenRounded-M.ttc</string>
		<string>GenSenRounded-R.ttc</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need your photos</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need your photos</string>
	<key>NSCameraUsageDescription</key>
	<string>We need your camera</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_colemi._tcp</string>
		<string>_colemi._udp</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
